{{define "HEADER"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">DocViewer 0.1 by A. Markóczy</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item{{if eq .Header.ActivePage "dashboard"}} active{{end}}">
                <a class="nav-link" href="/dashboard">Dashboard</span></a>
            </li>
            <li class="nav-item{{if eq .Header.ActivePage "document"}} active{{end}}">
                <a class="nav-link" href="/document">Documents</a>
            </li>
            <li class="nav-item{{if eq .Header.ActivePage "todo"}} active{{end}}">
                <a class="nav-link" href="/todo">TODOs</a>
            </li>
        </ul>
    </div>
</nav>
{{end}}